[2021-09-14 15:41] vinzvinci opened #3 "feat: Implement the website from Figma"
Now we are done with the templates, implementing is next 🚀

We will use these tech stacks:
- HTML, HTML5, Tailwind CSS, JS

![image](https://user-images.githubusercontent.com/73097560/133289179-268c5cac-d205-49aa-a0b3-6faa048313c6.png)

[2021-09-14 18:41] Panquesito7 commented on #3
Sounds like a great idea. Ping me if you need any help. 👍

[2021-09-15 12:03] mkubdev opened #5 "We need a transparent .png hero image"
The hero image taken from Figma is blurry, we need a transparent one.

[2021-09-15 18:44] #5 closed

[2021-09-15 20:24] Panquesito7 commented on #5
We still need to look into how to make it not blurry. If you want, we can work on that together. 🙂

[2021-09-16 05:16] rohan-kulkarni-25 opened #10 "FEAT : Image is little blur on Home Page"
![image](https://user-images.githubusercontent.com/76584243/133553606-2855d47d-5489-4845-8f71-d7fc7886d4ef.png)

## You can try to reduce size a bit that can help in maintaining quality

[2021-09-16 05:17] shuklaritvik06 commented on #10
Thanks for the valuable suggestion Rohan, we have discussed this issue and will fix it ,Really Appreciate your feedback :)

[2021-09-16 05:18] vinzvinci commented on #10
Yeah, thank you for creating this issue 🚀

[2021-09-16 06:53] mkubdev commented on #5
Yes! Maybe you can upgrade the size of hero.png ?

[2021-09-16 16:24] Panquesito7 commented on #5
Sure, I'll look into it. 🙂

[2021-09-16 23:05] #10 closed

[2021-09-17 07:56] mkubdev opened #14 "[FIX] - remove team on navbar and put the team on footer"
We should remove Team on navbar and put the team on footer.

[2021-09-17 11:38] swati2603 commented on #14
But I think it is okay at that place. No need to change and it will not look good below. If you still want changes then assign me I'll do it.

[2021-09-17 13:51] Panquesito7 commented on #14
I agree we should move it to the footer and add something else there. 👍

[2021-09-17 13:55] vinzvinci opened #15 "[FEAT] - dev.to for community blog"
Is it possible to add or fetch the blog from dev.to with image?

Like:
- https://dev.to/vinzvinci/helping-you-to-build-your-personal-brand-in-tech-35df
- https://dev.to/vinzvinci/introducing-web-3-community-3co5

[2021-09-17 13:57] vinzvinci commented on #14
Maybe we can put:

- Home
- Learn
- Blog
- Testimonial

+

Remove the blog on footer

[2021-09-17 14:05] mkubdev commented on #15
Yes it is possible. It's even more simple with a web framework !

[2021-09-17 14:06] vinzvinci commented on #15
Cool cool, feel free to add it anytime.

[2021-09-17 14:59] swati2603 commented on #14
@Panquesito7 okay

[2021-09-17 15:00] swati2603 commented on #14
Okay I'll do it.

[2021-09-17 15:17] vinzvinci commented on #14
Okay you can make PR @swati2603

[2021-09-17 17:29] vinzvinci opened #17 "feat: make the card clickable (not the blue button)"
To Do:
- Make the card clickable
- Make the button unclickable

![image](https://user-images.githubusercontent.com/73097560/133829512-a3550263-6e4c-4729-8176-3e57d1634a39.png)

[2021-09-17 17:41] Panquesito7 commented on #17
Working on it.

[2021-09-17 19:17] vinzvinci opened #18 "feat: Add our social media icons"
The section here is empty, maybe add social media icons of Twitter, LinkedIn, Instagram, GitHub.

![image](https://user-images.githubusercontent.com/73097560/133842070-299c08a1-0d9e-4a05-a0fa-1dfb2151d614.png)

You can found the socials link here:
https://bio.link/web3community

[2021-09-18 15:23] 0shivamh commented on #18
I would like to work on this

[2021-09-18 16:11] vinzvinci commented on #18
Cool, I'll assign this issue to you @oshivamh

[2021-09-19 13:59] #18 closed

[2021-09-19 14:03] mkubdev opened #21 "[FEAT] - Make the website responsive"
We should update the tailwind class to adapt it to small screen.

We can use the [breakpoint class](https://tailwindcss.com/docs/responsive-design) from tailwind.

[2021-09-19 16:08] KukretiShubham opened #24 "feat: replace love with heart ❤️ svg or emoji at the bottom."
![image](https://user-images.githubusercontent.com/57281769/133934551-355986c2-e4dc-4ce9-8cd9-809c54a837a1.png)

[2021-09-19 16:58] PuneetDabral commented on #24
can i do my first contribution here?

[2021-09-19 17:00] vinzvinci commented on #24
Feel free @PuneetDabral 🚀

[2021-09-19 17:01] PuneetDabral commented on #24
what i can do? can you please explain

[2021-09-19 17:05] vinzvinci commented on #24
You can use emoji or svg to put beside community

Ex.
Made With Love by Web 3 Community ❤️

[2021-09-19 17:12] #24 closed

[2021-09-19 21:26] vinzvinci opened #27 "Remove unused codes"
I have seen lots of unused codes on the index.html. Please remove those if not planning to use them later, let's make our codebase clean.

[2021-09-20 02:43] shuklaritvik06 opened #28 "Remove the underline on hover"
### Current Behaviour
![Issue](https://user-images.githubusercontent.com/72812470/133952544-4465016c-6cfb-4e9b-a298-b379e7adf3ac.png)
### Required Behaviour
Remove the underline on hover effect from the explore button

[2021-09-20 04:47] kkhitesh commented on #28
Can i work on this?

[2021-09-20 06:06] 0shivamh commented on #28
I would like to work on this, Can I?

[2021-09-20 06:17] shuklaritvik06 commented on #28
As @kkhitesh  asked before so assigning him. Go Ahead 🚀

[2021-09-20 07:30] #17 closed

[2021-09-20 11:27] 0shivamh commented on #27
hi @vinzvinci, I Would like to join this community, would you invite me?

[2021-09-20 11:55] shuklaritvik06 commented on #27
Hey! Great to hear that you want to join web3community!  💛

You can raise an issue here - https://github.com/web3community/start-here/issues/new?assignees=&labels=github-invitation&template=invitation.yml&title=Please+invite+me+to+the+community

You can also join our discord Server - https://discord.gg/sn4uzamJ  🚀

Here you will get to interact with some awesome folks :) ✨

[2021-09-20 12:33] 0shivamh commented on #27
Thank you.

[2021-09-20 13:28] #28 closed

[2021-09-20 13:46] #27 closed

[2021-09-20 14:04] vinzvinci opened #33 "Add BLOG in the navbar"
Can someone add **BLOG** in the navbar next to LEARN?

Ex.
HOME LEARN BLOG ABOUT PROJECTS

[2021-09-20 14:13] mkubdev commented on #15
Once the figma design is finished, I would integrate the landing into a framework (nextjs or vuejs)

[2021-09-20 14:15] vinzvinci commented on #15
Cool cool  @mkubdev 🎉

[2021-09-20 14:16] vinzvinci commented on #33
Done

[2021-09-20 18:05] vinzvinci commented on #33
Make PR @0shivamh, so we can review in this repo.

[2021-09-20 18:11] #33 closed

[2021-09-20 18:12] Panquesito7 commented on #27
Is this already solved? 🤔

[2021-09-20 18:15] shuklaritvik06 commented on #27
Yeah @mkubdev solved this :)

[2021-09-20 18:26] Panquesito7 opened #35 "Remove favicon's background"
I think the favicon without the white background, having white text would look better.
For example, [this](https://the-algorithms.com) site had a background before, and without background looks better.

Let me know what do you think. Thanks. 🙂

[2021-09-20 18:29] Panquesito7 opened #36 "Make the `A new community` text smaller"
![image](https://user-images.githubusercontent.com/51391473/134054693-951fa7c5-096b-423b-9db2-6736c7f4b14a.png)

[2021-09-21 07:45] PuneetDabral commented on #36
sir can i ....

[2021-09-21 07:50] mkubdev commented on #36
Welcome @PuneetDabral ! Yes, you can [fork this repository](https://github.com/web3community/web3community.github.io), create a new branch, then make a PR here :)

[2021-09-21 08:18] PuneetDabral commented on #36
bro can you please check it is ok?

[2021-09-21 12:46] 0shivamh commented on #35
okay, I will do it

[2021-09-21 13:21] #3 closed

[2021-09-21 16:26] shuklaritvik06 commented on #35
Here you go @0shivamh 🚀

[2021-09-22 17:40] #36 closed

[2021-09-23 14:32] KukretiShubham opened #45 "[FEAT] - create a slider and add active member cards"
![ss](https://user-images.githubusercontent.com/57281769/134526606-2981b258-2d74-47de-a39d-307269b65646.png)

Create cards of people active in the community and make them sliding so that one can look through them all.

[2021-09-23 14:59] vinzvinci commented on #45
Great idea

[2021-09-23 15:57] mkubdev commented on #45
Great idea, look like it's time to get nestjs out!

[2021-09-24 12:21] vinzvinci opened #46 "[FEAT] - Change the content on Blockchain Developer Path"
Any suggestions on what to add?

Example:
1st card = https://www.youtube.com/watch?v=ci_AIMCF-HA
2nd card = https://www.techfunnel.com/information-technology/how-to-become-blockchain-developer/
3rd card = https://cryptozombies.io/
4th card = https://learn.figment.io/

[2021-09-24 16:25] Panquesito7 commented on #46
What about this? https://www.simplilearn.com/tutorials/blockchain-tutorial/how-to-become-a-blockchain-developer https://www.youtube.com/watch?v=x9l3y0cdpuU

[2021-09-26 07:50] shuklaritvik06 commented on #35
Hey @Panquesito7  for now I am closing this issue , we will discuss more on this  and will create a issue then :)

[2021-09-26 07:50] #35 closed

[2021-09-26 19:16] 0shivamh opened #47 "After Clicking on Home, the website should redirect to the Home page"
At this time it not affecting but might be in the future when we are going to add a blog, learn, etc.

Suppose If the user is on a blog page then after clicking on Home it should go to home. but for now, it just adding a hash to the current URL

[2021-09-27 00:11] Panquesito7 commented on #47
I agree with @0shivamh. Do you want to work on this? 🙂

[2021-09-27 02:37] shuklaritvik06 opened #49 "[FEAT] - Add Animation to Hamburger icon"
Current behavior - There is no animation in the hamburger icon
Required behavior -

Add animation
![menuicon](https://user-images.githubusercontent.com/72812470/134837547-59060adf-667d-4378-9d11-d8045aada71c.gif)

[2021-09-27 02:47] Panquesito7 commented on #49
We could try do something like this https://fireship.io/lessons/css-responsive-icon-navbar/

[2021-09-27 02:48] shuklaritvik06 commented on #49
Hmm, Looks cool

[2021-09-27 04:07] 0shivamh commented on #47
Yes, please assign

[2021-09-27 04:35] Vansh-marda commented on #47
Hi , please assign this project to me. I will be glad to help : )

[2021-09-27 08:05] #47 closed

[2021-09-27 08:06] mkubdev opened #53 "[FEAT] - Add alpinejs to the core website"
We are looking to add [Alpine.js](https://alpinejs.dev/) to the project.

## Why alpine.js ?

Alpine.js is for developers who aren’t looking to build a single page application (SPA). It’s lightweight (~7kB gzipped) and designed to write markup-driven client-side JavaScript.

The syntax is borrowed from Vue and Angular directive. That means it will feel familiar if you’ve worked with those before.

[2021-09-27 08:07] shuklaritvik06 commented on #49
maybe we can discuss this in discord and then decide which animation will be better to have?

[2021-09-27 19:31] Panquesito7 commented on #49
You could write the instructions here and make it a good first issue for everyone. 🙂

[2021-09-27 19:33] Panquesito7 commented on #47
Sorry, this was already assigned to @0shivamh. We hope to see you contribute with another good first issue. Thanks for your interest. 🙂

[2021-09-28 11:09] #14 closed

[2021-09-29 06:21] vinzvinci commented on #46
Up, we need to finalize on what to put here.

[2021-09-29 06:49] vinzvinci commented on #45
Hmm, any update to this?

I want to know what it will look like.

[2021-09-29 06:55] vinzvinci commented on #45
![image](https://user-images.githubusercontent.com/73097560/135218199-802e91a8-de46-4ae8-a1fd-686cfbe0e33d.png)

how about this idea?

[2021-09-29 07:05] neeraj15022001 commented on #21
i can work on this

[2021-09-29 07:06] vinzvinci commented on #21
This issue will be available on Hacktoberfest (October 1)

Please come back here soon @neeraj15022001.

[2021-09-29 07:09] neeraj15022001 commented on #21
can't this be assigned right now and i can start working later ?

[2021-09-29 07:21] shuklaritvik06 commented on #21
Okay @neeraj15022001  we are assigning this issue to you but please start working with it in October :)

[2021-09-29 07:22] neeraj15022001 commented on #21
Sure, not a problem

[2021-09-29 07:56] 0shivamh opened #56 "[BUG] Instead of #, We should use mailto:web3community@gmail.com"
### Description of the bug

create a link that opens in the user's email program to let them send a new email

### Please add screenshots (if applicable)

![Screenshot from 2021-09-29 13-17-42](https://user-images.githubusercontent.com/50539402/135226657-35e68c16-62c8-41f4-9292-a6319aad2449.png)

### Add any other context about the problem here

_No response_

[2021-09-29 08:00] vinzvinci commented on #56
Do u want this issue to participate in hacktoberfest?

[2021-09-29 08:03] 0shivamh commented on #56
it is too easy, I will look for another one

[2021-09-29 08:05] 0shivamh commented on #56
@vinzvinci Can you guide me for Hacktoberfest?

[2021-09-29 08:11] vinzvinci commented on #56
Learn here https://hacktoberfest.digitalocean.com/

[2021-09-29 08:13] 0shivamh commented on #56
Okay, Thank you.

[2021-09-29 08:50] nandan-shah commented on #49
hey, can i work on this?

[2021-09-29 08:56] shuklaritvik06 commented on #49
Okay @nandan-shah  we are assigning this issue to you but please start working with it in October as you can see this issue is labeled with hacktoberfest :)

[2021-09-29 10:15] mkubdev commented on #56
@0shivamh hi! Thanks for your contribution. This issue will be patched on the next PR. I close it.

[2021-09-29 10:15] #56 closed

[2021-09-29 10:23] mkubdev commented on #45
I like this idea. We can store .json or .md files in the website _data folder. Then the community can make PR of their own .json or .md files to add their profile circle on the website.

[2021-09-29 12:14] shuklaritvik06 opened #60 "Add Hyperlink to logo"
### What would you like to share?

Add our community website link to logo

### Additional information

_No response_

### Would you like to work on this issue?

- [ ] Yes I want to work on this issue!

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2021-09-29 12:39] #53 closed

[2021-09-29 12:43] mkubdev commented on #60
Fixed with #54 [here](https://github.com/web3community/web3community.github.io/pull/54/files#diff-26aa76387261ce7c0de4435dae2bb2d03e5c959388ac8a73c532ec08e4afc292R4)

[2021-09-29 12:43] #60 closed

[2021-09-30 14:20] pranavvdesai commented on #46
can i work on this? @vinzvinci

[2021-09-30 14:28] mkubdev commented on #46
Hello @pranavvdesai ! Sure.

[2021-09-30 16:17] chamindujs commented on #49
Hey @shuklaritvik06  Can I look into the issue and make a simple/fast animation?

[2021-09-30 16:36] shuklaritvik06 commented on #49
Thank you for your interest in web3community project @chamindujs , But this issue is already assigned to nandan. :)

[2021-09-30 20:31] vinzvinci commented on #49
Just know... you can still create an issue if you found something with our website and tell that you are going to work with it.

[2021-10-01 16:14] pranavvdesai commented on #46
Any other suggestions on what resources to add? @Panquesito7 @KukretiShubham

[2021-10-01 16:34] KukretiShubham commented on #46
@pranavvdesai no. for now we will do for 4 cards only and @vinzvinci has already suggest them.

[2021-10-01 16:37] vinzvinci commented on #46
Hi @KukretiShubham, can you guide @pranavvdesai?

That suggestion is not final. If you have suggestion, feel free to comment it

[2021-10-01 19:59] wisdomkhan commented on #46
Hello community! How do I check the progress on this issue? I would love to contribute to it.

[2021-10-02 00:55] vinzvinci commented on #46
Final:

1st card = https://www.simplilearn.com/tutorials/blockchain-tutorial?source=sl_frs_nav_playlist_video_clicked
2nd card = https://www.youtube.com/watch?v=x9l3y0cdpuU
3rd card =  https://learn.figment.io/
4th card = https://cryptozombies.io/

[2021-10-02 05:27] pranavvdesai commented on #46
okay 👍

[2021-10-02 17:44] #21 closed

[2021-10-03 22:42] #46 closed

[2021-10-03 22:44] #49 closed

[2021-10-03 22:51] vinzvinci opened #67 "[FEATURE] Balance the Resources section (footer)"
### Detailed description

![image](https://user-images.githubusercontent.com/73097560/135774018-7b32db54-15c9-446d-b53a-bef8def855fd.png)

### Context

Add space to this resources section, put it in the center

### Possible implementation

_No response_

### Additional information

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2021-10-03 23:04] vinzvinci opened #68 "[FEATURE] Create FAQ (accordion) page"
### Detailed description

We need a separate page for the accordion.

### Context

If you have suggestions, please create a design template.

### Possible implementation

_No response_

### Additional information

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2021-10-04 01:28] pattimcletchie commented on #68
@vinzvinci I'd like to try and tackle this. Would you like the a design template to be a POC in code or an actual design file shared here?

[2021-10-04 01:29] pattimcletchie commented on #67
@vinzvinci I would like to try and tackle this.

[2021-10-04 01:45] vinzvinci commented on #67
Sure @pattimcletchie!

Feel free to write them down if you have a question

[2021-10-04 01:47] vinzvinci commented on #68
You can share the actual design here before you code it. If the team agrees with the design, you can start to work with it.

CC
@mkubdev
@Panquesito7
@shuklaritvik06

[2021-10-04 05:42] krishguptadev commented on #45
Fetching the GitHub API is the best in my opinion. Get everyone from the members list in the org

[2021-10-04 05:42] krishguptadev commented on #45
then sort based upon contributions if we ever need

[2021-10-04 06:35] krishguptadev commented on #45
This can be used for the members list: https://docs.github.com/en/rest/reference/orgs#list-organization-members.

I am thinking of using the 3 GitHub Contributions Mechanism. And using the advanced search to give points and then sorting based "upon the points \=| alphabetical alignment" (This is a mathematical equation that would sort the stuff).

The points will be calculated by 3 factors. Commit

[2021-10-04 06:40] vinzvinci commented on #45
Thanks for sharing here as well. I really like your idea, anyone can start to work with this issue.

[2021-10-04 08:43] mkubdev commented on #45
@krishguptadev Like this idea. :)

[2021-10-04 09:00] mkubdev commented on #68
Hi @pattimcletchie ! Yes you can share the design here (figma or what u like), and we can assign you to work on it :)

[2021-10-04 10:46] krishguptadev commented on #45
Cool 🚀 As per our conversation in the discord channel. This issue is kept for #Hacktoberfest Participants

[2021-10-04 15:01] pattimcletchie commented on #68
@mkubdev & @vinzvinci awesome! It will be a Figma link. I will be working on this tonight (US, central timezone)

Looking forward to contributing!

[2021-10-04 16:04] mkubdev commented on #68
@pattimcletchie Sounds awesome! Good luck with your PR and take all the time you want ✨🎃

[2021-10-04 16:06] shuklaritvik06 commented on #68
Excited to see the design :) Good Luck ✨

[2021-10-04 23:35] Panquesito7 commented on #68
Same here! It's gonna be awesome for sure. 🎉

[2021-10-05 01:00] pattimcletchie commented on #68
Hi all, here is the first stab at an accordion FAQ page...let me know if this is what y'all were thinking. If not, I can go back and make updates. Please leave all of your comments on the Figma link if possible.

Also, there are 2 artboards, mobile, and desktop.

https://www.figma.com/file/RdOtfaCtci3FkqcGXWhKBG/web3community?node-id=9%3A119

[2021-10-05 01:03] vinzvinci commented on #68
Looks good to me @pattimcletchie just add a navbar for Home. You can raise PR after adding that.

[2021-10-05 01:17] Panquesito7 commented on #68
Agree with this. 👍

[2021-10-05 01:23] pattimcletchie commented on #68
Awesome, I added the navigation to desktop. Do you want me to raise a PR with just the Figma file or would you like me to go ahead and fork and code an FAQ page with this layout?

[2021-10-05 01:27] pattimcletchie commented on #67
As I was working on this I noticed that on mobile everything is displayed inline for the links.

I would imagine each link would be `display: block` so that they each get their own line... do you want me to fix that as well while I am in here? Or should I create an issue?

<img width="351" alt="Screen Shot 2021-10-04 at 8 26 10 PM" src="https://user-images.githubusercontent.com/12242330/135946082-

[2021-10-05 01:37] vinzvinci commented on #68
You can now fork this repo and start coding the FAQ page you make

[2021-10-05 01:39] vinzvinci commented on #67
Yes, please fix that too @pattimcletchie

[2021-10-05 01:39] Panquesito7 commented on #67
Create another issue for that, so we can discuss about it and see if that would work. 🙂

[2021-10-05 01:46] pattimcletchie opened #70 "[BUG] Update footer links on mobile"
### Detailed description

On mobile, the links underneath the footer headers are displayed inline with each other. This will cause issues with enough room for their touch targets and cause UX issues.

I would propose we display them as a `block` so that they each get their own line on mobile just like they do on desktop.
<img width="351" alt="Screen Shot 2021-10-04 at 8 26 10 PM" src="https://user

[2021-10-05 01:47] pattimcletchie commented on #68
YAY! Thanks @vinzvinci

[2021-10-05 02:05] Panquesito7 commented on #70
I think this is considered more of a bug, not a feature. What do you think folks? 🙂

[2021-10-05 02:06] vinzvinci commented on #70
Yeah, I think `bug` label is best for this issue?

[2021-10-05 02:15] shuklaritvik06 commented on #70
Yes

[2021-10-05 02:17] shuklaritvik06 commented on #68
LGTM🔥

[2021-10-05 02:18] shuklaritvik06 commented on #68
LGTM 🎉

[2021-10-05 02:24] Panquesito7 commented on #70
Changed, thanks. 🙂

[2021-10-05 02:29] #67 closed

[2021-10-05 02:32] Panquesito7 opened #71 "[BUG] Capitalize the `h` in the `GitHub` word"
### Description of the bug

The `h` should be capitalized as the word itself should be `GitHub`. Go to the `src/_includes/partials/footer.html` file. In line 96, change the word to `GitHub`, as currently the `h` is not capitalized.

### Please add screenshots (if applicable)

![image](https://user-images.githubusercontent.com/51391473/135951167-8d65ed5c-5aea-4789-94ee-56f1b87e4e0e.png)

### Add an

[2021-10-05 02:36] durgeshahire07 commented on #71
can i work on this?

[2021-10-05 02:36] Ashwani132003 commented on #71
Done

[2021-10-05 02:37] Ashwani132003 commented on #71
![Screenshot (232)](https://user-images.githubusercontent.com/76273539/135951543-4a838db3-fb27-49be-a45a-75229dcdc173.png)
check it

[2021-10-05 02:38] Panquesito7 commented on #71
You must fork this repository, implement your changes, make a PR, and then we will review it to see if it's good. 🙂

[2021-10-05 02:39] Panquesito7 commented on #71
Feel free to work on this if you want. I'm just not sure if @Ashwani132003 wants to work on that, though.

[2021-10-05 02:42] #70 closed

[2021-10-05 02:47] krishguptadev commented on #71
I can do it?

[2021-10-05 02:47] krishguptadev commented on #71
@Panquesito7 I do not think we should add the hacktoberfest label. It's just changing a letter

[2021-10-05 02:49] Panquesito7 commented on #71
A PR was already made, sorry. 😅

[2021-10-05 03:01] krishguptadev commented on #15
IMHO We should build our own blog, in our website and then, cross-post on dev.to using their api or something

[2021-10-05 07:20] vinzvinci commented on #15
I think @mkubdev already build blog page right @mkubdev ? can we cross-post this on dev.to using their API?

[2021-10-05 07:32] vinzvinci commented on #15
https://dev.to/web3community

There's already 3 blog post, I think someone should start this issue?

[2021-10-05 07:45] mkubdev commented on #68
LGTM :)

[2021-10-05 07:45] mkubdev commented on #15
Yes i did ! :p And yes we can fetch post from dev.to api ! I can do it or create a issue.

[2021-10-05 07:46] vinzvinci commented on #15
Cool cool @mkubdev

[2021-10-05 12:48] vinzvinci opened #76 "[FEATURE] Community Partners (page)"
### Detailed description

We need a separate page to showcase our community partners.

### Context

It is best to do this, so we can show our appreciation to them.

### Possible implementation

_No response_

### Additional information

If anyone has a good idea about the design, feel free to comment below.

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2021-10-05 14:58] #15 closed

[2021-10-05 15:36] krishguptadev opened #78 "[FEATURE] Projects Page"
### Detailed description

Add a projects page:
![image](https://user-images.githubusercontent.com/91655303/136055361-d5e3ac26-571e-4915-aebb-fe010fb9f26d.png)

### Context

https://discord.com/channels/835424705410236427/887353133141999646/894968997844512798

### Possible implementation

_No response_

### Additional information

_No response_

### Code of Conduct

- [X] I agree to follow this pro

[2021-10-05 16:11] mkubdev commented on #78
Hi @web3community ! 🎉🎃

To achieve this issue, you need to fork this repo first, and then make a PR with your changes.

## How to make a new page ?

First, you need to learn how [layout is managed](https://www.11ty.dev/docs/layouts/) with [11ty](https://www.11ty.dev) ! Don't be fooled with `.njk` extension, we automatically convert `.html` into `.njk` at build time.
💫 *So when you need to create a

[2021-10-05 18:42] Panquesito7 commented on #76
We can do something similar to what [**this page**](https://heptagram.xyz/heptagram-devs.html) does. 🙂

[2021-10-05 18:45] Panquesito7 commented on #68
Looking great to me too! 🎉

[2021-10-06 02:04] vinzvinci commented on #76
I like it, but I want to know other ideas.

[2021-10-06 04:54] vinzvinci commented on #78
https://www.figma.com/file/7YWtfTu6yFJeXln0baHfIv/About-and-Projects-Page?node-id=0%3A1

Sample page

[2021-10-06 08:56] mkubdev opened #79 "[FEATURE] Justify elements on blog cards"
### Detailed description

We should update the blog card, and fix the content :

![Capture d’écran 2021-10-06 105330](https://user-images.githubusercontent.com/50140834/136171582-19574957-686b-4d29-9830-c62b92a4db16.png)

### Context

Better design.

### Possible implementation

We should add fixed height to title or description. Or using flex to add authorName at the bottom of card.

### Addition

[2021-10-06 09:02] shreyaansjain06 commented on #76
I want to work on this issue

[2021-10-06 09:07] mkubdev commented on #76
Do you have design idea @shreyaansjain06 ?

[2021-10-06 09:07] shreyaansjain06 commented on #76
Do you have any idea or design on how this page should look

[2021-10-06 09:08] vinzvinci commented on #76
We don't have yet @shreyaansjain06. Please help us to find unique design for this

[2021-10-06 09:09] shuklaritvik06 commented on #76
Yes please share if you have any design idea for that page

[2021-10-06 09:09] shreyaansjain06 commented on #76
ok

[2021-10-06 09:41] mkubdev commented on #79
Sure :)

[2021-10-06 12:08] shreyaansjain06 commented on #76
I think we should do some edit in the design what @Panquesito7 shared

[2021-10-06 12:10] vinzvinci commented on #76
I agree with you, you can share figma here (view only). And we can give u feedback

[2021-10-06 13:13] shreyaansjain06 commented on #76
I have made the figma You can give your feedback
[Link](https://www.figma.com/file/P8ytuqbDBEgsSEJILvsgvV/Untitled?node-id=0%3A1)

[2021-10-06 13:16] mkubdev commented on #76
![Capture](https://user-images.githubusercontent.com/50140834/136209558-c252ce7c-1de5-4fc3-9d8d-c780a6bf9cd9.JPG)

Please update permissions. It's ok for you @shuklaritvik06 @vinzvinci  ?

[2021-10-06 13:17] shuklaritvik06 commented on #76
Nope same for me too

[2021-10-06 13:27] vinzvinci commented on #76
same here

[2021-10-06 13:38] shreyaansjain06 commented on #76
sorry i forgot to update permission

[2021-10-06 13:52] shreyaansjain06 commented on #76
yes that looks good

[2021-10-06 14:11] vinzvinci commented on #76
You can use the magic words: **Lorem ipsum** :D

[2021-10-06 14:13] shreyaansjain06 commented on #76
I have put you can check previous figma link i share

[2021-10-06 14:14] vinzvinci commented on #76
Yes, u can use that logo @shreyaansjain06.

U can make 4 cards for now.

1 for Dev Protocol
3 for random

[2021-10-06 15:27] shreyaansjain06 commented on #76
https://www.figma.com/file/P8ytuqbDBEgsSEJILvsgvV/Untitled?node-id=2%3A77
can anyone check and give their feedback

[2021-10-06 15:28] vinzvinci commented on #76
Hi, I'm asking edit request, pls accept

[2021-10-06 15:55] shreyaansjain06 commented on #76
ok

[2021-10-06 19:04] himanshupal commented on #78
Hi, what will be the source of projects data here ?

[2021-10-07 01:26] pattimcletchie commented on #68
👋 this is my first time using eleventy and I am confused about how to get it to generate the new page for FAQ. I created the file in the `_includes` folder but when I run `npm start` the file doesn't generate...am I missing a step?

folder structure for reference:
<img width="248" alt="Screen Shot 2021-10-06 at 8 25 37 PM" src="https://user-images.githubusercontent.com/12242330/136305771-c3239412-

[2021-10-07 04:53] krishguptadev commented on #76
We already using 11ty, You can read the docs of 11ty here: https://www.11ty.dev/docs/

[2021-10-08 05:31] shreyaansjain06 commented on #78
It will be confirm if the issue is assigned that nobody is working on it except me

[2021-10-08 06:29] vinzvinci commented on #78
Done

[2021-10-08 08:38] krishguptadev commented on #76
Why is their a horizontal scrollbar?

[2021-10-08 12:52] #78 closed

[2021-10-08 16:04] shreyaansjain06 commented on #68
Is somebody working on it if not i can do it

[2021-10-08 16:26] shuklaritvik06 commented on #68
Hey @shreyaansjain06  thanks for showing interest in this issue 😄  But this issue is already assigned to  pattimcletchie. I think we should give her some more time.

[2021-10-08 16:32] shreyaansjain06 commented on #68
No problem i was just asking 😊

[2021-10-14 14:10] mkubdev opened #102 "[FEATURE] Replace homepage 'Community Blogs' section by the Blog's page one"
### Detailed description

Hi ✨

We should remove the old Community Blogs section from the homepage, and replace it with the [Blog's page one](https://web3community.github.io/blog/)

- section to replace :
![1](https://user-images.githubusercontent.com/50140834/137334319-0a755677-e220-470d-9e94-93a9a4427ec8.png)

- by :
![2](https://user-images.githubusercontent.com/50140834/137334350-e1866786-b3dc

[2021-10-14 22:16] ShaileshKumar007 opened #103 "[FEATURE]: Add About Section in the page"
### Detailed description

There should be an About Section on the website's landing page. And when the user clicks on the "About Us" in the navbar it should send the user to that "About Section".

### Context

The “About Us” section can effectively communicate your team's values and how they may align with a potential customer's goals.

### Possible implementation

We can add an about section on t

[2021-10-16 11:02] Kunal0007 commented on #102
Can I work on this issue?

[2021-10-16 11:59] Kunal0007 commented on #102
Should I have to change the title or keep it like this :
![image](https://user-images.githubusercontent.com/73381050/137586438-28c78f41-ea46-43e5-a72e-5bd4dc3bac91.png)

[2021-10-16 12:04] vinzvinci commented on #102
CC. @mkubdev

[2021-10-16 12:05] krishguptadev commented on #102
Change the title

[2021-10-16 12:14] Kunal0007 commented on #102
Should I change it to Blogs?

[2021-10-16 12:36] krishguptadev commented on #102
yeah

[2021-10-16 12:40] Kunal0007 commented on #102
have to remove the subtitle "Highlight Blogs"?

[2021-10-16 15:08] krishguptadev commented on #102
remove it

[2021-10-17 10:37] #102 closed

[2021-10-18 16:26] Panquesito7 opened #107 "[FEATURE] Add information about our moderators"
### Detailed description

Now that we have a page for our moderators (thanks to @shreyaansjain06), feel free to add a bio of yourself to appear on the page!

### Context

Currently, we just have random texts set on that page. Other people can know more about us on that page.

### Possible implementation

Add short information about yourself. **Please comment here and we'll make a PR to add it.** 🙂

[2021-10-18 16:34] Panquesito7 commented on #107
Okay, to start, this is mine 😄

[2021-10-20 06:24] shuklaritvik06 commented on #107
Mine

[2021-10-21 07:58] #68 closed

[2021-10-26 23:47] Panquesito7 opened #116 "[FEATURE] Add a branding page in the website"
### Detailed description

We have a [Brand Assets](https://github.com/web3community/brand-assets) repository, but I think we should also have a page for our brand assets on our website. That way, people can find it easier and quicker.

The first thing one would do (I guess 😅 ) would be to check the website. If they wanna use our logos, they'll find our guidelines quickly. 🙂

### Context

This woul

[2021-11-07 03:09] Panquesito7 commented on #107
Is the 2.0 version still being built? I think we should add them soon; it's been almost 20 days. @krishguptadev.

[2021-11-07 06:59] krishguptadev commented on #107
Let's keep the websitev1 still updating, I think this was paused due to the devprtcl site... But yeah I think we can continue this now, we can build V2 in parallel 🙂

[2021-11-07 16:28] Panquesito7 commented on #107
Hey, @shreyaansjain06! Do you still want to work on this?

[2021-11-07 16:32] shreyaansjain06 commented on #107
yes please share the new design i will make according to it

[2021-11-07 16:33] Panquesito7 commented on #107
The page is already there, you just need to add our bio's. 🙂

[2021-11-09 16:34] mkubdev commented on #107
And mine 😄

[2021-11-09 18:02] Panquesito7 commented on #107
@krishguptadev, could you please add yours? Now that you're a moderator. 🙂

[2021-11-10 02:23] krishguptadev commented on #107
How about...

Started my tech journey on 30th September 2021. Since then, I am learning new things and growing my network. I love to chat, collaborate and contribute. I am an open sourcer, that's my complete bio.

[2021-11-10 10:18] mkubdev opened #125 "[FEATURE] Update testimonials cards"
### Detailed description

We should update the testimonials cards.
![Capture](https://user-images.githubusercontent.com/50140834/141095018-9b25bc06-2fdb-421b-b2c6-738e0156e95f.JPG)

### Context

There is mocked content still in the website. But maybe this will be removed in v2 ?

### Possible implementation

_No response_

### Additional information

_No response_

### Code of Conduct

- [X] I agr

[2021-11-12 16:03] Panquesito7 opened #130 "[BUG] Dev Protocol's image is stretched"
### Description of the bug

Dev Protocol's logo is stretched and doesn't look well. We should fix that.

### Please add screenshots (if applicable)

![image](https://user-images.githubusercontent.com/51391473/141496856-b1a5e41c-14cf-4eee-aca3-3897348842c5.png)

### Add any other context about the problem here

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Condu

[2021-11-12 16:47] #130 closed

[2021-11-16 01:24] Panquesito7 opened #132 "[FEATURE] Add Discord as a social in the footer"
### Detailed description

It would be nice if we could add Discord to the list of socials at the bottom.

![image](https://user-images.githubusercontent.com/51391473/141878292-017b03e5-0a36-4a63-a55c-24399a8d55cc.png)

### Context

People who are not aware of our GitHub/Twitter/Discord might find our community easier. 🙂

### Possible implementation

Add our Discord community at the socials part at

[2021-11-16 19:02] Panquesito7 opened #133 "[BUG] Simple Learn logo is stretched"
### Description of the bug

The Simple Learn logo is stretched which makes it look bad.

### Please add screenshots (if applicable)

![image](https://user-images.githubusercontent.com/51391473/142048882-3d8c2cba-7b2f-404c-8510-a7603b11f94e.png)

### Add any other context about the problem here

Already have the fix for this. 🙂

### Code of Conduct

- [X] I agree to follow this project's Code of Co

[2021-11-17 06:23] krishguptadev commented on #133
Not fixed in #134

[2021-11-17 16:18] Panquesito7 commented on #133
https://github.com/web3community/web3community.github.io/pull/134#discussion_r751404276

[2021-11-17 16:18] #133 closed

[2021-11-18 14:44] marpit19 commented on #132
can you comment the discord link here

[2021-11-18 14:45] vinzvinci commented on #132
https://discord.gg/TSRwqx4K2v

[2021-11-18 15:28] marpit19 commented on #132
Is this issue still open?

[2021-11-18 15:33] Panquesito7 commented on #132
Yeah, feel free to work on it. 🙂

[2021-11-18 15:44] krishguptadev commented on #132
Can I work on this?

[2021-11-18 16:07] krishguptadev commented on #132
Can we have the new discord logo?

[2021-11-18 16:32] marpit19 commented on #132
I have done a PR if found suitable you can merge it: https://github.com/web3community/web3community.github.io/pull/138

[2021-11-19 14:08] marpit19 commented on #132
I think you can close this issue now #139

[2021-11-19 14:23] #132 closed

[2021-11-30 17:41] Panquesito7 opened #143 "[BUG] Twitter and GitHub logos are not appearing on the moderator's page"
### Description of the bug

The Twitter and GitHub logos are not appearing on the moderator's page.

### Please add screenshots (if applicable)

![image](https://user-images.githubusercontent.com/51391473/144099405-e65564dd-25a2-458a-8f64-ef52fe8a0f8f.png)

### Add any other context about the problem here

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2021-12-01 08:23] Simperfy commented on #143
Working on this.

[2021-12-01 09:46] #143 closed

[2021-12-05 08:12] technophile-04 opened #145 "[BUG] Cards not properly stacking on hover Community Partners page"
### Description of the bug

The cards on the Community Partners page are not properly stacking on each other. The cards which are on the left side are always staying below the cards on the right, on the hover

### Please add screenshots (if applicable)

### Before :
<img width="1440" alt="Screenshot 2021-12-05 at 1 31 50 PM" src="https://user-images.githubusercontent.com/80153681/144738754-6359fdf

[2021-12-05 08:28] Simperfy commented on #145
Will work on this one, if no one else will.

[2021-12-06 10:39] mkubdev commented on #145
Sure!

[2021-12-14 13:59] orion-esu commented on #125
If there's an available design I'll want to work on it.

[2021-12-14 15:51] Panquesito7 commented on #125
You just need to update the images, names, stars, and titles. All testimonials (new ones and current ones) are in https://github.com/web3community/web3community.github.io/discussions/50.

[2021-12-28 13:12] unnikrishnan2002 commented on #125
I would like to work on this issue @Panquesito7

[2021-12-28 17:42] Panquesito7 opened #148 "[BUG] CryptoZombies logo is stretched"
### Description of the bug

The CryptoZombies logo is stretched. It doesn't look good like that.

### Please add screenshots (if applicable)

![image](https://user-images.githubusercontent.com/51391473/147592685-069d1b4d-db3d-410b-b77e-64d19d774a65.png)

### Add any other context about the problem here

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-01-03 04:51] unnikrishnan2002 commented on #148
Do we have other image assets for CryptoZombies?

[2022-01-03 05:12] Panquesito7 commented on #148
Nope, I think we don't. We might have to search for its logo on the web.

[2022-01-03 05:52] unnikrishnan2002 opened #149 "[BUG] The social media icons alignment is altered in certain viewports"
### Description of the bug

The social media icons alignment is altered while in chrome desktop site in android.

Device : Realme Narzo 20
OS : Android 11
Browser : Google Chrome
Mode : Desktop Site

### Please add screenshots (if applicable)

![IMG_20220103_101949](https://user-images.githubusercontent.com/76985777/147902284-e06d8322-26c8-4f02-b76a-299d58fedfce.jpg)

### Add any other context abo

[2022-01-04 14:34] mkubdev opened #151 "[FEATURE] Migrate the landing to Next.js"
### Detailed description

We should migrate the landing page into nextjs since we will mostly use this framework for the org's projects.

### Context

## Todo
- Migrate the landing page to next.js framework
- Use TailwindUI
- Deploy to GH page : https://dev.to/jameswallis/deploying-a-next-js-app-to-github-pages-24pn

### Possible implementation

Use next.js + tailwind

### Additional information

[2022-01-04 17:26] unnikrishnan2002 opened #152 "[BUG] Updating the copyright year at the footer of the website to 2022 from 2021"
### Description of the bug

Since the copyright year in the license is updated to 2022 we should also update it in the website's copyright.

### Please add screenshots (if applicable)

_No response_

### Add any other context about the problem here

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-01-04 17:27] unnikrishnan2002 commented on #152
I would like to do this

[2022-01-04 17:55] Panquesito7 commented on #152
Looks like there's a problem with the build or code 👀 I'll see what I can do and if it's easy to fix. Thanks.

[2022-01-04 17:58] unnikrishnan2002 commented on #152
Okay cool

[2022-01-04 18:22] Panquesito7 commented on #152
1. Go to `src/_includes/partials/footer.html`.
2. In line 94-96, replace the current code with the following code:

[code]

That's it! Now just make a PR and we'll check it. :)

[2022-01-04 18:40] unnikrishnan2002 commented on #152
Thank you so much : )

[2022-01-04 18:52] #152 closed

[2022-01-04 21:52] Arhell opened #154 "[BUG] Horizontal scrolling (blog page)"
### Description of the bug

Horizontal scrolling
https://web3community.github.io/blog/

### Please add screenshots (if applicable)

_No response_

### Add any other context about the problem here

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-01-05 04:39] krishguptadev commented on #151
Oh, so I should remove the stuff we've done in Astro?

[2022-01-05 05:02] shuklaritvik06 commented on #151
The new version of the website is in Astro right?

[2022-01-05 10:35] mkubdev commented on #151
We can keep this version with Astro, but if we have a new landing design, we should migrate to nextjs. We can save dev.to articles logic request.

[2022-01-05 11:00] vinzvinci commented on #151
Nice @mkubdev 🎉

[2022-01-05 11:23] krishguptadev commented on #151
or since we haven't done much in Astro and converting Astro to react isn't pretty hard, we can do nextjs

[2022-01-05 11:41] #154 closed

[2022-01-05 12:48] mkubdev commented on #151
@krishguptadev Yeah absolutly right!

[2022-01-06 21:53] Arhell opened #156 "[BUG] Horizontal scrolling (projects page)"
### Description of the bug

Horizontal scrolling
https://web3community.github.io/projects/

### Please add screenshots (if applicable)

_No response_

### Add any other context about the problem here

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-01-07 10:47] #156 closed

[2022-01-09 14:45] Anosh21 commented on #149
Hello is anyone working on this issue?
I

[2022-01-09 18:02] vinzvinci commented on #149
Looks like no one is working here. Are u gonna work for this @unnikrishnan2002 or assign it to Anosh21?

[2022-01-09 20:02] Arhell opened #158 "[BUG] Horizontal scrolling (partners page)"
### Description of the bug

https://web3community.github.io/partners/

### Please add screenshots (if applicable)

_No response_

### Add any other context about the problem here

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-01-10 05:11] Anosh21 commented on #149
@vinzvinci I think he's isn't active, You can assign it to me.

[2022-01-10 05:12] unnikrishnan2002 commented on #149
No I am not working on it you can assign it to him 👍

[2022-01-10 05:14] vinzvinci commented on #149
Done. Thanks for the response.

[2022-01-11 15:00] #158 closed

[2022-01-11 18:35] Panquesito7 opened #160 "[BUG] Update the website accordingly"
### Description of the bug

The current website has Web3Community logos and design. We should update the favicon, logos, and design as well.

### Please add screenshots (if applicable)

_No response_

### Add any other context about the problem here

We might want to update Dev.TO's profile name and logos as well.

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-01-11 18:45] AbhinavMV commented on #151
is someone working on this?
If not i would be happy to take this issue 😄

[2022-01-11 18:49] AbhinavMV commented on #160
There is an upgrade to next.js issue open right.
So maybe these changes can be included in that upgrade too?

[2022-01-11 18:50] Panquesito7 commented on #160
Yes, that should be done as well. Great catch!

[2022-01-14 13:39] mkubdev commented on #151
Hi @AbhinavMV ! Sure you can make a PR with a nextjs stack! :)

Don't bother to adjust the design, since we are rebranding, we will update the landing page as well.

🌱

[2022-01-14 15:10] AbhinavMV commented on #151
So i just need to delete all the code and create a initialize with nextjs+tailwind
I don't need to convert any code to nextjs ? 🤔

[2022-01-14 16:26] mkubdev commented on #151
@AbhinavMV Ok, i see. Maybe you can take the actual landing, and making components of Hero, Section, Footer, etc ?

[2022-01-14 17:08] AbhinavMV commented on #151
cool i will give it try 👍
Once page is ready i will look into github actions

[2022-01-26 11:06] mkubdev opened #163 "[OTHER] Update the Readme"
### What would you like to share?

Upgrade the Readme and remove unused chapters.

### Additional information

_No response_

### Would you like to work on this issue?

- [ ] Yes, I want to work on this issue!

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-01-27 20:01] vinzvinci opened #164 "[FEATURE] 2.0 WebX DAO website"
### Detailed description

Update the website with this figma design

https://www.figma.com/file/q2edCdc71T7V2mNANM67dV/WebX-DAO?node-id=0%3A1

please don't mind the team page, only focus on the landing pageFigma

### Context

It would be great to rebrand our site now or later xD

### Possible implementation

CC @hyomiTheTech

### Additional information

We are using Next.js for this https://github

[2022-01-27 20:09] hyomiTheTech commented on #164
I am excited to work on my very first assignment!

[2022-01-27 20:10] vinzvinci commented on #164
Thank you, assigned this to you.

[2022-01-27 21:53] mkubdev commented on #164
Awesome design @vinzvinci ! Can't wait to see it online.
Good luck with your PR @hyomiTheTech ! Don't hesite to reach us on discord for any kind of help.

[2022-01-27 22:01] hyomiTheTech commented on #164
@mkubdev will do! I will make frequent PR so that you guys can review my code often.

[2022-01-27 22:05] mkubdev commented on #164
Count on me!

[2022-02-15 14:07] KendallDoesCoding opened #166 "[BUG] Error in Console"
### Description of the bug

Errors in console

### Please add screenshots (if applicable)

_No response_

### Add any other context about the problem here

[code]

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-02-16 08:37] mkubdev commented on #166
Can you please provide context and screenshot ?
This landing will be updated to nextjs framework asap. I add `invalid` tag.

[2022-02-16 08:57] KendallDoesCoding commented on #166
Will share in a bit.

[2022-02-16 12:00] KendallDoesCoding commented on #166
![image](https://user-images.githubusercontent.com/84712013/154260437-218a7624-b1b6-4f4f-97e0-283d73d92b41.png)

[2022-02-16 12:01] KendallDoesCoding opened #169 "[BUG] Error with permissions on incognito"
### Description of the bug

Error with permissions on incognito

### Please add screenshots (if applicable)

_No response_

### Add any other context about the problem here

Console Log

[code]

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-02-16 12:04] KendallDoesCoding opened #170 "[FEATURE] Update banner in readme"
### What would you like to share?

Update banner icons in README.MD for github and twitter

The github icon color is black, not blue. LinkedIn is fine. Twitter is lightish blue not purple.

### Additional information

I'm down to work on this issue, just need the design without the icons/access to canva project or wherever this banner was designed, if possible.

### Would you like to work on this

[2022-02-16 12:07] KendallDoesCoding opened #171 "[BUG] Favicon can't really be seen"
### Description of the bug

The text in the favicon can't really be seen.

### Please add screenshots (if applicable)

_No response_

### Add any other context about the problem here

I can only see white, black and blue. Maybe use remove.bg to remove the background and see if it works, otherwise would suggest changing the favicon, add no favicon

### Code of Conduct

- [X] I agree to follow this

[2022-02-16 12:09] KendallDoesCoding opened #172 "[FEATURE] Update favicon"
### What would you like to share?

I had a complaint with the current favicon ( #171 ) and was considering ideas for a suggestion of change of favicon. The favicon can be this which is in the pfp of the organization.

![image](https://user-images.githubusercontent.com/84712013/154261806-769afb38-283d-49d1-a825-085e61170a2e.png)

### Additional information

If yall like the idea, I can work on this

[2022-02-16 12:09] KendallDoesCoding commented on #171
Suggestion to update favicon: #172

[2022-02-16 12:11] KendallDoesCoding commented on #107
@Panquesito7 This seems to be done, Please close this issue.

[2022-02-16 12:13] KendallDoesCoding opened #173 "[BUG] Krish Gupta's pfp on mods page hidden."
### Description of the bug

@krshdev pfp on the mods page isn't showing up.

### Please add screenshots (if applicable)

![image](https://user-images.githubusercontent.com/84712013/154262422-ccbc5fa3-15dd-4d3b-935f-d1c647f38662.png)

### Add any other context about the problem here

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-02-16 12:16] KendallDoesCoding opened #175 "[OTHER] Remove extra line from Krish's bio"
### What would you like to share?

If the bio ends there, it's understood that it's over, there's no need to say "that's my complete bio" 😆

### Additional information

_No response_

### Would you like to work on this issue?

- [X] Yes, I want to work on this issue!

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-02-16 12:18] KendallDoesCoding commented on #160
This is more of a enhancement than a bug, right? @Panquesito7 Please update the labels

[2022-02-16 12:20] #171 closed

[2022-02-16 12:21] shuklaritvik06 commented on #172
We are currently working on our website with new design etc :) It will be fixed, thank you for opening an issue

[2022-02-16 12:21] #172 closed

[2022-02-16 12:21] KendallDoesCoding commented on #171
@shuklaritvik06 Can you please link the issue that this is the duplicate of?

[2022-02-16 12:22] KendallDoesCoding commented on #172
Yup, #160 says that too, Saw that after I made this issue though.

[2022-02-16 12:22] KendallDoesCoding commented on #160
A idea for the updation of favicon is #172

[2022-02-16 12:22] mkubdev commented on #166
Can't reproduce. Look like and extension issue on your side.. I close 👍🏻

[2022-02-16 12:22] #166 closed

[2022-02-16 12:23] shuklaritvik06 commented on #170
Hey we need a new design  banner for webxdao, feel free to propose your designs here :) Folks will give their review and we will use it after approval from all team members  😄

[2022-02-16 12:23] KendallDoesCoding commented on #103
When the issue isn't on hold anymore 😄

[2022-02-16 12:25] KendallDoesCoding commented on #166
Ok thanks. My extensions have been interfering with many sites, so thought so but for most of the sites it doesn't show stuff like "webxdao.github.io/:1". Here, it was letting me see where the issue was but it wasn't any code related to the project, I don't think so

[2022-02-16 12:26] KendallDoesCoding commented on #170
Ok cool! Will work out on a design, but maybe it's better to share designs in a discussion instead of here so everyone can share ideas for the banner, instead of me? I'll be down to create the discussion, please put this issue "on-hold"

[2022-02-16 12:26] mkubdev commented on #169
![image](https://user-images.githubusercontent.com/50140834/154263901-9e7298eb-3cb5-4acc-ad60-13a2d0bd4030.png)

Hi, thanks.
Can't reproduce on localhost and incognito...
As mentionned [here](https://stackoverflow.com/questions/69619035/error-with-permissions-policy-header-unrecognized-feature-interest-cohort) : `Basically you can ignore it. GitHub hosted pages disable FLoC, which is Google's 3rd

[2022-02-16 12:26] #169 closed

[2022-02-16 12:27] KendallDoesCoding commented on #169
Ok cool!

[2022-02-16 12:28] KendallDoesCoding commented on #103
As this issue is on hold maybe, don't show the "About" section on the website for now, until this get's done as it leads no where. I can try to remove it from the site, if yall are down with the idea.

![image](https://user-images.githubusercontent.com/84712013/154264625-6df8dcfb-b350-440c-a881-b30deb4ed53a.png)

[2022-02-16 12:29] KendallDoesCoding commented on #173
I think I know a possible reason of this issue. Will have a look.

[2022-02-16 12:30] KendallDoesCoding commented on #173
Yup, found the problem.. Making a PR to resolve.

[2022-02-16 12:30] shuklaritvik06 commented on #173
krshdev new username of krish :)

[2022-02-16 12:30] KendallDoesCoding commented on #173
Yeah, that's exactly what I found..

[2022-02-16 12:32] mkubdev commented on #166
Try disable all your extensions, it will not show this error again. It's [FloC related](https://blog.google/products/chrome/get-know-new-topics-api-privacy-sandbox/)

[2022-02-16 12:34] KendallDoesCoding commented on #170
@shuklaritvik06 Are yall looking to update the banner on the organization README.md too?

[2022-02-16 12:34] #173 closed

[2022-02-16 12:35] KendallDoesCoding commented on #170
Thanks, will make the discussion shortly.

[2022-02-16 12:35] KendallDoesCoding commented on #166
I have too many extensions, so I'm not in the mood to disable all of them, but yeah ig that will solve the problem. Thanks for your help!

[2022-02-16 12:36] shuklaritvik06 commented on #170
Hmm yes

[2022-02-16 12:38] KendallDoesCoding commented on #170
Ok, I suggest to make the banner which in this repo, temp the banner for README.md too coz the one here looks better in my opinion and also the white text merges with the background for the banner in README.md

[2022-02-16 12:38] shuklaritvik06 commented on #175
Will be discussed with krish and fixed if he want in our new website :) Thank you for opening an issue

[2022-02-16 12:38] #175 closed

[2022-02-16 12:39] mkubdev commented on #166
![image](https://user-images.githubusercontent.com/50140834/154266281-280594f1-51ca-4bc6-8007-17d17587d1da.png)

Maybe you can try to add a new google chrome profil without extension (or use visitor mode), which you will use to do testing.

[2022-02-16 12:40] KendallDoesCoding commented on #175
Thanks. I suggest you keep this open with the label, "on-hold" or "to-discuss" though.

[2022-02-16 12:40] KendallDoesCoding commented on #175
Although, #174 can remain closed in the discussion stage.

[2022-02-16 12:41] KendallDoesCoding commented on #175
@mkubdev Thanks, please reopen the issue.

[2022-02-16 12:41] KendallDoesCoding commented on #166
Will do.

[2022-02-16 12:42] KendallDoesCoding commented on #166
Yup, error doesn't show up in Guest Mode too.

[2022-02-16 13:03] KendallDoesCoding commented on #170
Discussion: #177

[2022-02-16 13:05] KendallDoesCoding commented on #173
The issue doesn't seem to be fixed with #176 unless the website didnt get deployed with the commit

@shuklaritvik06 Please reopen.

[2022-02-16 13:22] KendallDoesCoding opened #178 "[OTHER] Use a custom domain"
### What would you like to share?

It looks more professional when the website is on a custom domain, instead of github pages. Maybe yall can try to get a custom domain after the revamp of the site?

The issue is that webxdao.com is for a massive massive price on any domain buying service, just look at this:
Namecheap: ₹740,209.17/yr (9,856.91 USD)
Godaddy:  ₹17,30,526.32/yr (23044.35 USD)

But, a

[2022-02-16 13:22] KendallDoesCoding commented on #178
If yall have a domain already, dw about the above, just link it to the Github Pages. If yall need help, I'll be happy to help :)

[2022-02-16 13:36] mkubdev commented on #173
New landing page is ready. We will fix this issue in the new landing..

[2022-02-16 13:38] KendallDoesCoding commented on #173
ok!

[2022-02-16 13:43] #107 closed

[2022-02-16 13:44] KendallDoesCoding commented on #107
Thanks!

[2022-05-23 18:05] Vinyl-Davyl commented on #45
Would definitely be a nice thing to hop on

[2022-09-14 14:52] rudrakshkarpe commented on #178
Yes, I do agree with @KendallDoesCoding you guys can simply set up a custom domain using GitHub pages

![image](https://user-images.githubusercontent.com/78851635/190188369-3e02c539-be53-440a-8b5d-3369ed6cce25.png)

you guys can check this out [here](https://www.namecheap.com/domains/registration/results/?domain=.tech) this looks pretty reasonable from Namecheap,  but after all, with a custom doma

[2022-09-14 15:11] mkubdev commented on #178
Sure, good idea!

[2022-09-14 15:25] mkubdev commented on #164
Info: figma link ins't available

[2022-09-14 15:25] mkubdev commented on #160
I close, solved with #183

[2022-09-14 15:25] #160 closed

[2022-09-14 15:26] mkubdev commented on #151
I close, solved with #162 , Thanks again Ser @AbhinavMV 😎

[2022-09-14 15:26] #151 closed

[2022-09-14 15:29] mkubdev commented on #149
I close, will be updated soon with a new footer.

[2022-09-14 15:29] #149 closed

[2022-09-14 15:29] mkubdev commented on #145
I close, #146 solved it.

[2022-09-14 15:29] #145 closed

[2022-09-14 15:59] KendallDoesCoding commented on #178
actually, .tech and many other domains are free on the GitHub student plan

.tech, .me, and MANY others, I'm sure y'all are aware of it.

[2022-09-19 10:32] #164 closed

[2022-09-19 11:51] mkubdev commented on #148
I close, solved by #187

[2022-09-19 11:51] #148 closed

[2022-09-19 11:52] mkubdev commented on #125
I close, passed by #187

[2022-09-19 11:52] #125 closed

[2022-09-19 18:09] MetaMars0114 opened #188 "invite me to organization"
### What would you like to share?

I want join your team.

### Additional information

I am a game developer

### Would you like to work on this issue?

- [ ] Yes, I want to work on this issue!

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-09-19 18:47] mkubdev commented on #188
Hi @MetaMars0114 :wave:

You should raise an issue here to get invited to the community: https://github.com/WebXDAO/start-here

I close

[2022-09-19 18:47] #188 closed

[2022-09-21 15:08] vinzvinci opened #190 "[FEATURE] Increase WebX DAO logo size"
### Detailed description

I find it small
![image](https://user-images.githubusercontent.com/73097560/191541089-85d124c6-a789-4371-a600-28c74d5a22d4.png)

same with footer
![image](https://user-images.githubusercontent.com/73097560/191541178-976570e4-b4e8-4373-a6ca-70db4f5be119.png)

### Context

It will be cool to increase the navbar and footer logo :)

### Possible implementation

_No response_

[2022-09-21 18:54] Panquesito7 opened #192 "[BUG] Various website issues"
### Description of the bug

There are a few website issues that should be fixed immediately.
Here is a list that includes most of the issues on the website.

- The GitHub button is not working. It should lead to our GitHub organization.
- Probably add another link in the Hacktoberfest part instead of our GitHub organization, as it's already linked in other parts various times.
- Fix all the footer

[2022-09-25 08:21] mkubdev commented on #192
I take the issue! Will PR in the next few days

[2022-09-25 09:37] vinzvinci opened #193 "[FEATURE] Add contributors page"
### Detailed description

Maybe let's show our contributors in our website like this https://www.4c.rocks/contributors

### Context

Idk, maybe just to share our contributors profile and encourage more folks to contribute with our projects.

### Possible implementation

_No response_

### Additional information

Put this on-hold for hacktoberfest

### Code of Conduct

- [X] I agree to follow this

[2022-09-26 08:37] mkubdev commented on #193
That's always a cool feature to show to the community! ⚡

# Steps

1. Create a new page `contributors` at `src/pages/contributors.js`
2. Fetch the the contributors:
   * Use **[getStaticProps](https://nextjs.org/docs/basic-features/data-fetching/get-static-props)** as data fetching method
   * You can test the github API from cli with `gh api repos/WebXDAO/webXDAO.github.io/contributors`

![image]

[2022-09-26 12:25] Asmit2952 commented on #193
Can I work on this?

[2022-09-27 14:19] Anuran12 commented on #193
Hi I would like to contribute. Could you please assign it to me? I need to do this for Hacktober 2022.

Thanks : )

[2022-09-27 14:41] vinzvinci commented on #193
Okay cool, please don't submit any PR for now. You can submit when hacktoferbest start

[2022-09-27 16:53] marinoffDev commented on #163
Hey 👋🏻 Can I work on this? I can join your Discord to discuss changes as well

[2022-09-27 18:01] Panquesito7 commented on #163
Hello! This issue is quite old; I'm not sure if it's already fixed or not.
But you can surely improve the readme and write more about WebXDAO. 🙂

Feel free to join our [**Discord server**](https://discord.gg/TSRwqx4K2v) and discuss this.

[2022-09-28 19:50] Anuran12 commented on #193
@vinzvinci hi I added "contributors page" in my fork. please check it out.

https://github.com/Anuran12/WebXDAO.github.io.git

I added this in a separate branch called "contributors-page". please check that and give me feedback. if you want to change or add something you can tell me.

Thanks :

[2022-09-29 07:53] mkubdev commented on #193
@Anuran12 Hi :wave: ! Hacktoberfest start 1st October 2022, every PR sent before will not count as Hacktoberfest contribution.

Kindly suggest you to open a PR the starting day with your changes. 👍🏻
Btw, I read your work for `/contributors`, that look good to me ✌ But we use [TailwindCSS](https://tailwindcss.com) for styling!

[2022-09-29 07:54] mkubdev commented on #192
@Panquesito7 I suggest to open one issue per issues mentionned above tagged with hacktoberfest?

[2022-09-29 09:37] Anuran12 commented on #193
@mkubdev So do I have to change the style from css to tailwind css ?

I am not familiar with tailwind css : (

[2022-09-29 12:32] mkubdev commented on #193
@Anuran12 No, you can keep it if it's fit the global layout!

[2022-09-29 15:59] Anuran12 commented on #193
Ok thanks 😊
@mkubdev  @vinzvinci

If you need more features in the website. I can help you . Just create more issues.. i will check them out.

[2022-09-29 16:06] mkubdev commented on #193
Hey, yeah sure, we'll open more issue tonight!

[2022-09-29 16:07] mkubdev opened #194 "[BUG] Header button is not clickable"
### Description of the bug

Hi, the logo inside the navbar not working. It should redirect to `/`

### Please add screenshots (if applicable)

![image](https://user-images.githubusercontent.com/50140834/193082445-ff21cfbf-eaf1-45a0-b94c-0a304ecfe70e.png)

### Add any other context about the problem here

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-09-29 16:10] mkubdev opened #195 "[FEATURE] Update the community partners page"
### Detailed description

Update the page to fit the new design :

* background should be `transparent`
* text should be `text-white/80`

![image](https://user-images.githubusercontent.com/50140834/193083127-1579083f-6153-4dbf-afb6-ff8981d4edde.png)

We should add:
* DevProtocol
* theAlgorithms
* LumosLabs

### Context

It's better if we can match the landing design.

### Possible implementation

[2022-09-29 16:13] mkubdev opened #196 "[FEATURE] Update the blog page"
### Detailed description

Blog page should be updated to match the new design :

* background should be `bg-transparent`
* text should be `text-white/80`

![image](https://user-images.githubusercontent.com/50140834/193083541-9478bab9-dc0c-44ae-9ebf-da2b9d785517.png)

### Context

Actually it's showing nothing, maybe we can request WebXDAO dev.to articles from https://dev.to/webxdao and show them a

[2022-09-29 16:15] mkubdev opened #197 "[FEATURE] Build a partner form component"
### Detailed description

We should build a nextjs form component to let other communities become partners with us.

### Context

Maybe using Formspree or Typeform could be more simple for GitHub Page?

### Possible implementation

_No response_

### Additional information

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-09-29 16:16] Anuran12 commented on #196
@mkubdev Can I work for this too ?

[2022-09-29 16:17] mkubdev opened #198 "[FEATURE] Build an about us page"
### Detailed description

This way, people that come and check our website will know what we do, what projects we have, tools, resources, etc., etc..

### Context

The page should be called `/about-us` and respect the initial design.

To create section, use `bg-transparent` and `text-white/80` on parent div to show the global gradient background.

### Possible implementation

We should collaborate

[2022-09-29 16:17] mkubdev commented on #192
I close, created issues related to this one. 😊

[2022-09-29 16:17] #192 closed

[2022-09-29 16:23] mkubdev commented on #196
Sure, i assigned you ! :)

[2022-09-29 16:32] Anuran12 commented on #196
But i have a doubt. If i make PR for 2 issues in same repository then Does both count or does one counts?

[2022-09-29 16:48] mkubdev commented on #196
You should make a PR per issue to get both counted for hacktoberfest :)

[2022-09-29 18:01] clairecharles commented on #198
Hey @mkubdev can i work on this issue?

[2022-09-29 18:11] mkubdev commented on #198
Hey @clairecharles 👋🏻 ! Sure, i assign you :D

[2022-09-29 19:03] ahmedsilat44 commented on #194
@mkubdev Could you assign me this issue. I would like to try to fix this bug. Thanks 😄

[2022-09-29 19:30] Panquesito7 commented on #194
Thanks for your interest in contributing! Feel free to make a PR.
Any questions, doubts, or anything else, let us know! 🙂

[2022-09-29 23:25] hackobansa commented on #195
Good day @mkubdev  please assign me to this issue

[2022-09-29 23:49] Panquesito7 commented on #195
Thanks for your interest in contributing! Feel free to make a PR.
Any questions, doubts, or anything else, let us know and we'll help! 🙂

[2022-09-30 00:08] hackobansa commented on #195
thank you so much for assiging me

[2022-09-30 03:08] vinzvinci commented on #193
Yes! more issues, more fun! Thank you @Anuran12 🎉

[2022-09-30 06:50] hackobansa commented on #195
can i add dev protocool alternatives

On Fri, Sep 30, 2022 at 12:49 AM David Leal ***@***.***>
wrote:

[2022-09-30 15:43] clairecharles commented on #198
Hey, @mkubdev to be able to make the about page I would need a brief summary of what the project is about and what the mission is. If possible, the projects built and to be built.

I need this information to be able to make a pr, that because I am not a member of the team.
I would be so glad if you provide the information :)

[2022-09-30 16:12] mkubdev commented on #198
Hi @clairecharles ! ✨✌
Sure, this issue is a bit confusing and not well detailed.

## Who we are ?

WebXDAO is an opensource community that focus on the future of the web. Here you will learn how to become a blockchain developer while having fun with other community members. Blockchain Developer is an interesting field, in demand and the latest trend in the tech industry. Here you will get to inte

[2022-09-30 17:43] vinzvinci opened #200 "[FEATURE] Automate build on every change"
### Detailed description

I think it's cool if we add this as well. I provided the information below (Context)

### Context

All examples and context here:
https://github.com/dailydotdev/docs/issues/124

### Possible implementation

_No response_

### Additional information

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-09-30 18:53] krshkodes commented on #200
Can I work on this?

[2022-09-30 18:55] krshkodes commented on #197
I would use Google forms

[2022-09-30 18:56] krshkodes commented on #163
Assigned you @marinoffDev! 😀

[2022-09-30 18:57] krshkodes commented on #45
Hey people, have you seen orbit.love ?

[2022-09-30 18:57] vinzvinci commented on #200
Sure @krshkodes!

[2022-09-30 18:58] krshkodes commented on #103
Close in favour of #198

[2022-09-30 18:58] #103 closed

[2022-09-30 18:59] krshkodes commented on #178
Hi, any updates?

[2022-09-30 19:03] KendallDoesCoding commented on #103
hi

[2022-09-30 19:04] KendallDoesCoding commented on #178
I think .tech would be best for this org

btw @krshkodes , please reach out to me urgently.

[2022-09-30 21:49] Panquesito7 commented on #193
I'd wait until Hacktoberfest starts so that it counts towards your progress in the event. :)

[2022-10-01 00:07] vinzvinci commented on #193
Hacktoberfest is live now for ASIA region @Anuran12

 I know you're super excited! Feel free to open PR now :)

[2022-10-01 01:37] vinzvinci opened #202 "[FEATURE] SEO Optimization"
### Detailed description

Need to add Meta Information, Opengraph, etc.

### Context

We know this is very important for the website :)

### Possible implementation

_No response_

### Additional information

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-10-01 02:23] Anuran12 commented on #193
@vinzvinci I created a PR. Please check it out

[2022-10-01 03:50] krshkodes commented on #178
@WebXDAO/core-maintainer

[2022-10-01 04:26] ishaanbedi commented on #202
I'd like to work on this! Can you please assign it to me?

[2022-10-01 04:32] krshkodes commented on #192
Hi, why does a closed issue have a hacktoberfest label added after it was closed? 🤔 No worries though, now it is all cool!

[2022-10-01 04:38] krshkodes commented on #196
Hi @Anuran12, I would suggest you use tailwind, but in this case, you can use CSS, I'll later convert it tailwind in another pr

[2022-10-01 06:34] mkubdev commented on #178
We already have a domain for the org @krshkodes

[2022-10-01 06:36] mkubdev commented on #202
I suggest to use [next-seo](https://github.com/garmeeh/next-seo) for this task. 😃

[2022-10-01 07:19] shuklaritvik06 commented on #202
Great Suggestion @mkubdev  🔥

[2022-10-01 07:19] shuklaritvik06 commented on #202
Cool Assigning you, Go Ahead 🚀

[2022-10-01 07:26] ishaanbedi commented on #202
Alright! Working on it...

[2022-10-01 08:07] krshkodes commented on #202
Awesome! Happy Hacktoberfesting 🚀

[2022-10-01 08:09] krshkodes commented on #178
Yes I know about that, the xyz one, I mean, is this issue fixed or shall I?

[2022-10-01 08:10] harshit0571 opened #205 "[FEATURE] Containerize app with docker"
### Detailed description

we can containerize this project using docker compose.

### Context

the entire project can be run using `docker-compose up` command.
if someone has not installed nodejs or is using a different version of it , the project may not run on his system by using `npm run dev`
so docker can help

### Possible implementation

create a Dockerfile and Docker-compose file to run con

[2022-10-01 08:19] krshkodes commented on #205
👍 Great idea, would you like to work on it or it is up for grabs?

[2022-10-01 08:20] harshit0571 commented on #205
i would like to work on it

[2022-10-01 08:21] krshkodes commented on #205
Sure! Assigned to you

[2022-10-01 08:23] krshkodes commented on #190
@faisalamin001 has opened a PR about it, there for considering it assigned for now

[2022-10-01 12:27] vinzvinci commented on #202
Closing this issue now.

[2022-10-01 12:27] #202 closed

[2022-10-01 15:50] Anuran12 commented on #196
@krshkodes   Yesterday I learned tailwind css and did it with that. so you don't have to do this.. Hahaa 😅

this is my first time open source contribution.. I am learning so many things with this which are really fun....

THANKS all members 🙏

I will make the PR soon...

[2022-10-01 16:22] #194 closed

[2022-10-01 16:23] krshkodes commented on #196
Wow, awesome! Congrats @Anuran12

[2022-10-01 18:08] EmmaDawsonDev opened #211 "[BUG] Accessibility fixes"
### Description of the bug

Site is missing a language attribute, has some wrongly nested button controls etc and I would like to make some fixes.

### Please add screenshots (if applicable)

_No response_

### Add any other context about the problem here

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-10-01 18:39] Anuran12 commented on #196
@mkubdev I created the PR . Please check it out

[2022-10-01 19:49] krshkodes commented on #211
Thank you for pointing out Emma! 👍

[2022-10-01 20:02] #200 closed

[2022-10-01 21:11] hackobansa commented on #195
@vinzvinci @Panquesito7 @mkubdev  im done

[2022-10-02 03:25] #211 closed

[2022-10-02 03:30] Pradumnasaraf opened #214 "[FEATURE] Improve Meta data in package.json file"
### Detailed description

Metadata that is missing.

[code]
### Context

Good for searchability on GitHub, and give more context about the project

- [X] I agree to follow this project's Code of Conduct

[2022-10-02 03:35] krshkodes commented on #214
Thank you for pointing out pradumna! Would you like to work on this?

[2022-10-02 04:11] Pradumnasaraf commented on #214
Yes sure 👀

[2022-10-02 04:21] Panquesito7 commented on #195
Nice! Feel free to make a PR for it. 🙂

[2022-10-02 10:57] void-ness opened #216 "[FEATURE] responsiveness of Projects page"
### Detailed description

The Current Projects page is not responsive. Overall it leaves a bad impression to first-time users of the website. Considering a lot of people will be accessing the website via their mobiles, The mobile version of the website should be at par with the desktop version. Few problems in the current design are:

![image](https://user-images.githubusercontent.com/78547746/193

[2022-10-02 10:58] void-ness commented on #216
I would love to work on this issue and do the concerned changes using Tailwind classes. Kindly assign it to me

[2022-10-02 11:41] vinzvinci commented on #216
Thanks! Would love to see your work @void-ness !

[2022-10-02 21:26] Rohitchaudhary13 commented on #190
Hey!, I opened a PR on this issue!
Please take a look!

[2022-10-03 00:11] Johnnyteck opened #218 "[BUG] There's no way to go back home from other pages"
### Description of the bug

Would love to help with including a home link in the mav so visitors can easily click that to return to the homepage of the website or the website logo, just a link that users can intuitively click and would bring them to the homepage of the website

### Please add screenshots (if applicable)

_No response_

### Add any other context about the problem here

_No response

[2022-10-03 04:31] #214 closed

[2022-10-04 08:11] #193 closed

[2022-10-04 08:48] vinzvinci opened #221 "[FEATURE] Add prettier github action"
### Detailed description

It is best to format our code with Prettier GitHub action when someone create PR

### Context

Since some folks having issue with single quote and double quote like this https://github.com/WebXDAO/WebXDAO.github.io/pull/191

### Possible implementation

_No response_

### Additional information

_No response_

### Code of Conduct

- [X] I agree to follow this project's Co

[2022-10-04 08:49] mkubdev commented on #221
I take this one! ⚡

[2022-10-04 08:50] vinzvinci commented on #221
Thanks @mkubdev! Assigned ✅

[2022-10-04 09:00] #196 closed

[2022-10-04 12:02] void-ness commented on #218
I would love to work on this.

We can hyperlink the logo in navbar to point it to home. For the footer section we can add another link "home" under the about us section pointing back to the landing page.

[2022-10-04 13:18] mkubdev commented on #195
Do you need help with your PR @Web3Ctrl ?

[2022-10-04 13:21] mkubdev commented on #178
You are mod, we talked about it in the mod discord ! Kindly suggest you check the channels.

[2022-10-04 13:24] mkubdev commented on #197
Yup, good idea Google forms is pretty simple to setup.

[2022-10-04 14:34] Web3Ctrl commented on #195
Yes

[2022-10-04 21:58] Anurag30112003 opened #224 "[OTHER] Meta data missing"
### What would you like to share?

The website doesn't have metadata.
Having metadata will help in SEO.
![image](https://user-images.githubusercontent.com/79055093/193937895-4112a687-0e9c-49a5-8bea-f092f04aed12.png)
![image](https://user-images.githubusercontent.com/79055093/193937862-0eb3a9da-26a6-4aa9-a3c2-d8e2acbb0d1a.png)
metadata

### Additional information

_No response_

### Would you like

[2022-10-05 09:05] mkubdev opened #226 "[FEATURE] Replace Prettier GitHub action by Eslint"
### Detailed description

In #223, @krshkun suggests using eslint to replace prettier.

### Context

Replace the GitHub prettier action `prettier.yml`

### Possible implementation

We can implement:

* husky pre-commit: https://github.com/typicode/husky
* Or replace the prettier with eslint

### Additional information

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code

[2022-10-05 12:06] #221 closed

[2022-10-05 16:11] #224 closed

[2022-10-05 16:15] mkubdev commented on #218
@Johnnyteck Your issue was legit, why close?

[2022-10-05 16:39] Anuran12 opened #228 "[Bug] The project page and partners page are not responsive at mobile view"
### Description of the bug

The project page and the partners page are not looking good in mobile view. I can fix it by using tailwind breakpoints.

### Please add screenshots (if applicable)

![Screenshot_2022-10-05-21-58-24-17_40deb401b9ffe8e1df2f1cc5ba480b12](https://user-images.githubusercontent.com/104062485/194114732-19a33777-93e9-4b11-b307-5fc1b95da8f1.jpg)
![Screenshot_2022-10-05-21-58-36-

[2022-10-05 16:52] Anuran12 commented on #218
@mkubdev can i give it a try ?

[2022-10-05 16:53] Johnnyteck commented on #218
ooh sorry, that was a mistake. I was clearing my issues tab and clicked this instead of another. Just realizing this now

[2022-10-05 16:53] Johnnyteck commented on #218
Yes, @mkubdev you can assign me

[2022-10-05 18:16] vinzvinci commented on #218
Hi @Anuran12, I'm assigning this to @Johnnyteck since he created this issue. Feel free to raise other issue @Anuran12

[2022-10-05 18:59] void-ness commented on #228
Hey, #219 deals with the responsiveness of projects page. It's pending to be merged as of now

[2022-10-06 06:42] #216 closed

[2022-10-06 06:46] mkubdev commented on #228
Hi @Anuran12 ! #219 fixed the responsive!

Let's chat on the discord to see what issue we can open here! :smile:

[2022-10-06 06:46] #228 closed

[2022-10-06 06:50] Anuran12 commented on #228
@mkubdev OK.. 😁

[2022-10-06 07:42] Anuran12 commented on #228
Hey..... @mkubdev Please add "hacktoberfest" label and "hacktoberfest-accepted" label

[2022-10-06 10:22] mkubdev opened #230 "[FEATURE] Redirect to our github organization"
### Detailed description

We should add a destination to this button :
![image](https://user-images.githubusercontent.com/50140834/194288558-39b0af95-fb3e-4c4e-b209-3e36dd4a9de5.png)

### Context

This button is displayed but do nothing.

### Possible implementation

Use this snippet in the file `src/components/Global/Navbar.js` Line 56:

[code]

* Link of the organization is: https://github.com/W

[2022-10-06 10:23] najeebkp commented on #230
hi @mkubdev please assign to me

[2022-10-06 10:23] mkubdev commented on #226
Hello @siddoinghisjob ! I think @krshkun will be more suitable to guide you than me for this task.
Btw, i just opened a new issue #230 if you want. :)

[2022-10-06 10:27] krshkun commented on #226
@siddoinghisjob, if you'd like to do this issue - I have absolutely no issues in guiding you, sinc @mkubdev linked to another issue, please affirm which one you'll be working on

[2022-10-06 10:41] mkubdev opened #233 "[FEATURE] Build a dynamic project page with GitHub API"
### Detailed description

Our current project page is a temporary one :
![image](https://user-images.githubusercontent.com/50140834/194291582-535ef4f8-61ff-4ba9-aabe-a10af028eb5d.png)

# Goal ✨
- [ ] Update the `src/pages/project.js` and add a `getServerStaticProps` data fetching strategy
- [ ] Add this query to retrieve the list of all our repository: https://api.github.com/orgs/WebXDAO/repos
- [

[2022-10-06 10:49] abhikrishnaram commented on #233
heyy 👋🏽
happy hacking

[2022-10-06 10:51] mkubdev commented on #233
Hello @abhikrishnaram ! Sure, i assigned you ☺️

[2022-10-06 11:24] mkubdev commented on #233
@Anuran12 Hello! Yep unfortunately it's already taken! But don't worry, we will open many more issue for this repos. :)

Good to see collaboration ✨

[2022-10-06 14:41] #218 closed

[2022-10-06 14:42] #226 closed

[2022-10-06 14:45] #198 closed

[2022-10-06 14:52] ahmedsilat44 opened #236 "[FEATURE] Improved 404 Page"
### Detailed description

A proper 404 page for the website would be good,
Currently the 404 page looks dull :
![image](https://user-images.githubusercontent.com/105588821/194345258-cf0c3480-247b-4693-bc64-9a4059bee0c7.png)

### Context

A 404 page can turn the potential negative user experience of encountering an error into a positive one.

### Possible implementation

_No response_

### Addition

[2022-10-06 16:32] RajatChaudhary01 opened #237 "[OTHER] add setup with docker in readme"
### What would you like to share?

we can add setting up with docker in readme file.

### Additional information

_No response_

### Would you like to work on this issue?

- [X] Yes, I want to work on this issue!

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-10-06 19:23] siddoinghisjob commented on #230
I want to work on this. Can you assign me this issue?

[2022-10-06 19:46] Anuran12 commented on #230
@siddoinghisjob  Hi.. sorry this issue is already done by @najeebkp  the maintainers did not Marge this for some reason. You can find another issue or you can make an issue . Thanks

[2022-10-06 23:27] shuklaritvik06 commented on #230
Thank you Anuran, You are doing great work!
@siddoinghisjob PR is already made and is on hold as the GitHub sponsors url is not yet ready for our org. You can refer to the discussion on that PR for more info :)

[2022-10-07 06:03] harshit0571 commented on #237
i have added the docker configuration.
it has been merged.
If @RajatChaudhary01 wants to add instructions in the file he can do it.

[2022-10-07 06:58] mkubdev commented on #205
I close, #208 solve this.

[2022-10-07 06:58] #205 closed

[2022-10-07 09:05] #233 closed

[2022-10-07 10:09] tarunfy commented on #190
@Panquesito7 Can you please assign me this issue, I have created an SVG for our logo and fixed the issue. Its looking great now. Hope you let me do this issue its just a min of work as I have created the logo and tested it 🙂.
<img width="1440" alt="Screenshot 2022-10-07 at 3 36 38 PM" src="https://user-images.githubusercontent.com/51208270/194529729-590c800f-91ce-4af1-a903-4e8edd8bbe5e.png">
^^ Se

[2022-10-07 10:27] mkubdev commented on #190
Hi, you can find our svg logo [here](https://github.com/WebXDAO/brand-assets)! No need to create one.

Actually the issue is being assigned to @Rohitchaudhary13 #217 but need changes.

[2022-10-07 10:49] tarunfy commented on #190
Hey, @mkubdev there's no SVG logo on that link that you gave 😕, all logos are in png format which will then going to blur out. I would recommend you to please check [this](https://drive.google.com/file/d/1niwfRFfnRNvolK5fPnXC_VS-mCchUiUk/view?usp=sharing) SVG it can be useful 😊.

[2022-10-07 10:52] mkubdev commented on #190
You are right! Seem the svg was converted into png once inserted into the markdown... 🤔
Thanks a lot for this logo, maybe you can add it into the brand-asset repository?

[2022-10-07 10:53] tarunfy commented on #190
<img width="1440" alt="Screenshot 2022-10-07 at 4 22 08 PM" src="https://user-images.githubusercontent.com/51208270/194537262-5bcb3f5d-b64d-4f2e-b6d0-d426947d5c1c.png">
This is how it's looking, clean right? 😃

[2022-10-07 10:53] mkubdev commented on #190
Yup super cool!

[2022-10-07 10:55] tarunfy commented on #190
Okay man, And one more thing, Can I make a pr now for this issue with the right logo in it?! Thanks

[2022-10-07 10:56] tarunfy commented on #190
Okay lemme trynna fix it rn.

[2022-10-07 11:08] mkubdev commented on #190
@tarunfy i sent you an e-mail containing further infos. :)

[2022-10-07 12:08] tarunfy opened #241 "[FEATURE] Footer links are not interactive."
### Detailed description

Once you hover over the links in the footer the cursor is default and they got no hover effect, I guess this is a bad UX, So there's a need to fix it, hence making our site much better with a little a improvement.

### Context

It will be a good UX. Hence enhancement to our site.

### Possible implementation

_No response_

### Additional information

_No response_

### C

[2022-10-07 12:10] #190 closed

[2022-10-07 12:16] void-ness opened #242 "[FEATURE] Fixing Navbar to top"
### Detailed description

The position of the navbar is currently not fixed on the phone. When a user scrolls down to to the bottom and wants to access the menu, they need to scroll back to the top thus leading to a comparatively poor user experience.

### Context

Having a navbar fixed to the top will make sure that the menu is always available to be used by the user as should be the case. Also b

[2022-10-07 12:20] tarunfy opened #243 "[FEATURE]New logo proposal"
### Detailed description

After going through the weird logo issue we are facing, I created a SVG version of the original .png logo in Figma.

I request everyone to give feedback and tell us whether we should replace the original .png logo with it or not.

Here is the new [Logo](https://drive.google.com/file/d/1j4dG_G4NkbP7AFMJ0lErv77am5wXiyom/view?usp=sharing) please give it a look.

Thanks 😊

##

[2022-10-07 12:26] Anuran12 opened #244 "[BUG] navbar logo is not showing"
### Description of the bug

Somehow navbar logo is not showing

![Screenshot_2022-10-07-17-55-16-17_40deb401b9ffe8e1df2f1cc5ba480b12](https://user-images.githubusercontent.com/104062485/194552902-fb6b43fc-b3d5-4b73-86e3-2911689096a5.jpg)

### Please add screenshots (if applicable)

_No response_

### Add any other context about the problem here

_No response_

### Code of Conduct

- [X] I agree to

[2022-10-07 12:36] void-ness commented on #241
Hey, It seems like they do have implemented something similar in the footer.
https://github.com/WebXDAO/WebXDAO.github.io/blob/16f9f4b9570f01d39ad5103216899b361f478f00/src/components/Global/Footer.js#L71-L76

However, the desired effect is not visible on the website due to a bug in code. You can check out the console box for the same. I also believe the styles needs to be applied on something else

[2022-10-07 12:37] mkubdev commented on #244
It look like the filename has changed since the last PR from white_logo.png to logo.png. Do you want to work on it?

[2022-10-07 12:47] tarunfy commented on #241
Hey Thanks for pointing it out, but anyways I fixed this and I'm creating a pr now.

[2022-10-07 12:48] tarunfy commented on #244
No worries man :)

[2022-10-07 13:04] mkubdev commented on #242
Hi! Super cool feature. ✨
But this one is tricky!

* The `<Hero/>` component need a top margin to not be hidden by the fixed navbar
* We would like to keep the navbar with a base `bg-transparent`, and trigger the blur effect only on scroll! So that the hero will look the same as now when we enter on the website.
* I'm not sure of the UI in mobile once the mobile menu is opened?..

[2022-10-07 14:19] tarunfy opened #247 "[FEATURE]Responsiveness issue for tablet screens"
### Detailed description

Home page is not responsive on tablet screens like iPad air, etc.

<img width="1440" alt="Screenshot 2022-10-07 at 7 46 57 PM" src="https://user-images.githubusercontent.com/51208270/194575101-2ca43792-f690-45f4-9dc5-76e5ec4ab37e.png">
^here is how it looks :(

### Context

It can help us improve the UX of our application.

### Possible implementation

_No response_

###

[2022-10-07 14:40] shuklaritvik06 commented on #178
We have a custom domain now https://webxdao.xyz and also we are verified org now :)

[2022-10-07 14:42] #178 closed

[2022-10-07 15:06] #236 closed

[2022-10-07 15:11] mkubdev commented on #247
Hey, what do you think of keeping the navbar the way it is for ipad/tab :
![image](https://user-images.githubusercontent.com/50140834/194586754-25ffa029-8339-471c-a46c-a9ff133f4cc7.png)

IMO, the only thing to fix is the stretched logo. CC @WebXDAO/core-maintainer

[2022-10-07 15:17] tarunfy commented on #247
The problem is that we have too many links in the navbar due to which elements are not able to breathe it's all looking messy, simply it's a bad UI, hope you will understand. Another option is to decrease the font size of the links and decrease the size of the logo but that will still make it messy.

[2022-10-07 15:22] mkubdev commented on #247
Yes, i tested multiple iPad screen sizes and effectively once using the iPad mini size, menu list are messy.

[2022-10-07 15:24] tarunfy commented on #247
I have already generated a pr for this issue kindly check :)

[2022-10-07 16:24] void-ness commented on #242
Hey!

-  I took into account the top margin part. Will do that.
-  Having the `bg-transparent` made the white logo disappear when the navbar overlaps an element with a white bg. Attaching a photo below to better explain that.

<img src="https://user-images.githubusercontent.com/78547746/194582266-4c9b1a30-c2eb-40a6-a71c-c54612c005a0.png" height=400 />

To account for that, I was planning to use a

[2022-10-07 17:04] shuklaritvik06 commented on #163
Any update on this @marinoffDev

[2022-10-08 17:10] RajatChaudhary01 commented on #237
can you asign it to me!!

[2022-10-09 15:11] void-ness commented on #241
There's an error being logged into the console box due to footer. Can you fix that too?

[2022-10-10 12:02] mkubdev commented on #242
Hi @void-ness, let me develop the navbar to test locally. We can inject different classes depending on the event, I don't think the logo disappears with bg-transparency (i mean there is already a bg-transparency in the navbar component!).

I keep you in touch 🔧

[2022-10-11 18:08] #244 closed

[2022-10-11 18:13] Anuran12 commented on #195
@mkubdev  hey is this issue still open? Then i would like to work on this

[2022-10-14 09:11] Anuran12 commented on #195
![image](https://user-images.githubusercontent.com/104062485/195809189-9b19bd47-f5fe-4b50-b379-6d3b94e0d5d1.png)

Is it looking good ? I change things according to other pages.

[2022-10-14 09:50] mkubdev commented on #195
Awesome 👍🏻

[2022-10-16 08:11] #195 closed

[2022-10-18 09:37] mkubdev opened #251 "[FEATURE] Add StoryBook to project"
### Detailed description

Hi, adding StoryBook will be a cool feature to the website. So that we can isolate and customize website component.

* You can use this [blog article](https://storybook.js.org/blog/get-started-with-storybook-and-next-js/) to add the implementation.

### Context

Website is growing, there is many custom components present. StoryBook will help to maintain and update them pr

[2022-10-18 15:27] digambar-t7 commented on #251
Hey @mkubdev I'd like to give it a shot

[2022-10-18 15:35] mkubdev commented on #251
Hello @digambar-t7 👋🏻 !
Sure, i'll assign you ⭐

[2022-10-18 17:11] Pradumnasaraf opened #252 "[FEATURE] Add `.dockerignore` file"
### Detailed description

Adding a `.dockerignore` file and ignoring the files which don't play role in building the image will reduce the build size.

### Context

Fast development and testing

- [X] I agree to follow this project's Code of Conduct

[2022-10-18 17:12] Pradumnasaraf commented on #252
I would like to work on this issue. Thank you.

[2022-10-18 17:16] mkubdev commented on #252
Hi sure i'll assign you, Pradumna. ✨

[2022-10-18 17:26] Pradumnasaraf commented on #252
Thank you!

[2022-10-21 07:01] #252 closed

[2022-10-21 08:24] clairecharles opened #256 "[BUG] The github button takes you to contributors page instaead of project repo"
### Description of the bug

When you go to the website, you will see a GitHub button. the button is not working as expected.
The button should redirect to the GitHub repo, instead, it goes to the contributor's page

### Please add screenshots (if applicable)

<img width="1346" alt="Screenshot 2022-10-21 at 9 21 03 AM" src="https://user-images.githubusercontent.com/67120042/197148894-23e11a2d-852d-

[2022-10-21 08:51] mkubdev commented on #256
Hello Claire ! 👋🏻

Thanks for the report, this issueseems to be a duplicate of #231 which is currently on-hold.

[2022-11-21 08:24] milanshresta opened #258 "Footer links are not working & Blog items fonts need correction which doesn't look consistent with other pages typography"
### What would you like to share?

![footer](https://user-images.githubusercontent.com/115529274/203000324-6dc545e0-42f4-4510-965a-5b9bfd1e6a23.png)

### Additional information

_No response_

### Would you like to work on this issue?

- [x] Yes, I want to work on this issue!

### Code of Conduct

- [x] I agree to follow this project's Code of Conduct

[2022-11-28 03:28] ItsRoy69 commented on #241
Can I work on this ? If you assign it to me.